<section class="category-details" *ngIf="categoryDetails.categoryId">
  <div class="details-card">

    <div class="image-box">
        <img [src]="'./assets/images/category/' + categoryDetails.mainImgPath" [alt]="categoryDetails.categoryName" />
    </div>

    <div class="info-box">
      <h1 class="title">{{ categoryDetails.categoryName }}</h1>

      <p class="description">
       {{ categoryDetails.categoryDescription }}
      </p>

      <button class="explore-btn" (click)="navigateToProducts(categoryDetails.categoryId)">
        Explore Products
      </button>
    </div>

  </div>
</section>
