<section
  class="w-75 mx-auto rounded shadow bg-main-light p-3 mb-3"
  *ngIf="cartItems && cartItems.products.length > 0; else msg"
>
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="h2">Shop Cart</h1>
    <button class="btn btn-sm btn-outline-danger" (click)="clearCart()">Clear Cart</button>
  </div>

  <p>
    Total Price :
    <span class="text-main">{{
      cartItems.totalCartPrice | currency : "EGP "
    }}</span>
  </p>

  <div class="row border-bottom py-2" *ngFor="let item of cartItems.products">
    <div class="col-md-1">
      <img
        class="w-100"
        [src]="item?.product?.imageCover"
        [alt]="item?.product?.title"
      />
    </div>

    <div class="col-md-11 d-flex justify-content-between align-items-center">
      <div>
        <h3 class="h6">{{ item?.product?.title | cutText : 2 }}</h3>
        <p class="text-main small mb-0">
          Price : {{ item.price | currency : "EGP " }}
        </p>
        <button
          #btnRemove
          (click)="removeItem(item.product._id, btnRemove)"
          class="btn m-0 p-0 text-main"
        >
          <i *ngIf="!btnRemove.disabled" class="fas fa-trash-can"></i>
          <i *ngIf="btnRemove.disabled" class="fas fa-spin fa-spinner"></i>
          Remove
        </button>
      </div>
      <div>
        <button
          #btn1
          (click)="updateItem(item.product._id, item.count - 1, btn1, btn2)"
          class="btn btn-sm border-success mx-2"
        >
          -
        </button>
        <span>{{ item.count }}</span>
        <button
          #btn2
          (click)="updateItem(item.product._id, item.count + 1, btn1, btn2)"
          class="btn btn-sm border-success mx-2"
        >
          +
        </button>
      </div>
    </div>
  </div>

  <button class="main-btn mt-3" [routerLink]="['/payment', cartItems._id]">Online Payment</button>

</section>

<ng-template #msg>
  <h2 class="text-center">Your Cart Is Empty...</h2>
</ng-template>
