<section
  *ngIf="step1"
  class="my-3 py-3 width mx-auto rounded bg-main-light p-3 shadow"
>
  <form [formGroup]="forgotForm">
    <label for="email">Email:</label>
    <input
      formControlName="email"
      type="email"
      id="email"
      class="form-control my-2"
    />
    <button #btnForget (click)="forgotPassword(btnForget)" class="main-btn w-100 mt-3">
      Forgot Password <i *ngIf="isLoading" class="fas fa-spin fa-spinner"></i>
    </button>
    <p *ngIf="userMsg" class="my-3 alert alert-danger mx-auto p-1 mb-0">
      {{ userMsg }}
    </p>
  </form>
</section>

<section *ngIf="step2" class="width mx-auto rounded bg-main-light p-3 shadow">
  <form [formGroup]="resetCode">
    <label for="resetCode">Reset Code:</label>
    <input
      formControlName="resetCode"
      type="text"
      id="resetCode"
      class="form-control my-2"
    />
    <button #btnReset (click)="resetPasswordCode(btnReset)" class="main-btn w-100 mt-3">
      Reset Code <i *ngIf="isLoading" class="fas fa-spin fa-spinner"></i>
    </button>
    <p *ngIf="userMsg" class="my-3 alert alert-danger mx-auto p-1 mb-0">
      {{ userMsg }}
    </p>
  </form>
</section>

<section *ngIf="step3" class="width mx-auto rounded bg-main-light p-3 shadow">
  <form [formGroup]="resetPassword">
    <label for="resetPassword">New Password:</label>
    <input
      formControlName="newPassword"
      type="password"
      id="resetPassword"
      class="form-control my-2"
    />
    <button #btnNew (click)="newPassword(btnNew)" class="main-btn w-100 mt-3">
      Reset Password <i *ngIf="isLoading" class="fas fa-spin fa-spinner"></i>
    </button>
    <p *ngIf="userMsg" class="my-3 alert alert-danger mx-auto p-1 mb-0">
      {{ userMsg }}
    </p>
  </form>
</section>
