<section class="categories-section">
  <div class="categories-grid">
    <div
      class="category-card"
      *ngFor="let category of categoriesData"
      [routerLink]="['/categories/details', category.categoryId]"
      role="button"
    >
      <div class="image-wrapper">
        <img [src]="'./assets/images/category/' + category.mainImgPath" [alt]="category.categoryName" />
      </div>

      <div class="category-name">
        {{ category.categoryName }}
      </div>
    </div>
  </div>
</section>
