<section>
  <h2 class="text-center">Hello {{ name }}</h2>
</section>

<section class="mx-auto width rounded shadow p-4 my-4 bg-main-light">
  <h2 class="my-3 text-center text-main h3">Update Password!</h2>
  <form
    [formGroup]="updateForm"
    (ngSubmit)="handelUpdate(updateForm, btnUpdate)"
  >
    <div class="form-item mt-2">
      <label for="currentPassword">Current Password:</label>
      <input
        formControlName="currentPassword"
        type="text"
        id="currentPassword"
        class="form-control"
        placeholder="Write Current Password.... "
      />
    </div>
    <div class="form-item mt-2">
      <label for="password">New Password:</label>
      <input
        formControlName="password"
        type="password"
        id="password"
        class="form-control"
        placeholder="Write New Password... "
      />
    </div>
    <div class="form-item mt-2">
      <label for="rePassword">Confirm Password:</label>
      <input
        formControlName="rePassword"
        type="password"
        id="rePassword"
        class="form-control"
        placeholder="Write Confirm Password... "
      />
    </div>

    <button
      #btnUpdate
      [disabled]="updateForm.invalid"
      type="submit"
      class="main-btn mt-2"
    >
      Update
      <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
    </button>
  </form>
</section>
