/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");

$main-color:#0aad0a;
$light-color: #f0f3f2;
$shadow: rgba(145, 158 ,171 , 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
$font-family:"Encode Sans Expanded",
sans-serif;
$rating-color: #ffc908;
$main-transition: 0.8s;


::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: $light-color;
}

::-webkit-scrollbar-thumb{
  background-color: $main-color;
}

body{
  font-family: $font-family !important ;
}

a,
a:hover {
  color: black ;
  text-decoration: none !important;
}

.product{
    padding: 6px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    &:hover{
      .heart{
        right: 5px;
      }
    }

    .heart{
      transition: right 0.7s;
      font-size: 35px;
      top: 5px;
      right: -50px;
      position: absolute;
      z-index: 99;
      cursor: pointer;
    }
}

.product:hover {
  box-shadow: $shadow !important;
  border: solid 1px $main-color !important;
}

.product .btn {
  transition: transform 1s, opacity 1s;
  opacity: 0;
  transform: translateY(100%);
}

.product:hover .btn {
  opacity: 1;
  transform: translateY(0);
}

.border-main {
  border: solid 1px $main-color !important;
}

.text-main{
  color: $main-color !important;
}

.cursor-pointer {
  cursor: pointer;
}

.text-main-light {
  background-color: $light-color !important;
}

.bg-main-light {
  background-color: $light-color !important;
}
.bg-main{
  background-color: $main-color !important;
}

.rating-color {
  color: $rating-color !important;
}

.font-sm {
  font-size: 11px !important;
}

.main-btn{
  background-color: $main-color !important;
  color: #fff !important;
  border-radius: 5px !important;
  border: unset !important;
  cursor: pointer !important;
  padding: 4px 8px !important;

  &:disabled{
    background-color: #0782076c !important;
    color: #ffffff9c !important;
    cursor: not-allowed !important;
  }
}
.active-link {
  color: #fff !important;
  background-color: $main-color !important;
  border-radius: 5px !important;
}


input:focus {
  box-shadow: 0 0 0 0.25rem rgb(10 173 10 / 39%) !important;
  border-color: #0aad0a !important;
}
